body {
    margin: 0;
    overflow: hidden;
}

.eye-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 104px;
    height: 52px;
}

.eye {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #000000;
    box-shadow: inset -16px -16px 25px -5px rgba(0, 0, 0, 0.16);
}

.pupil {
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: #000000;
    border-radius: 50%;
}

.white {
    position: absolute;
    top: 16%;
    left: 16%;
    width: 20%;
    height: 20%;
    background: #ffffff;
    border-radius: 50%;
    transform: skewX(-15deg) skewY(-18deg);
}